<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Posts</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Bog Posts</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                </div>
            </div>
        </nav><br><br>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Post 1
                </div>
                <div class="card-body">
                    <h5 class="card-title">An introduction and setting up kubernetes cluster on AWS using KOPS</h5>
                    <p class="card-text">
                        In this post I’m going to introduce the KOPs - Kubernetes Operations - concepts, why shoud use it, their advantages and overview. Then, I will provision some kind of AWS infrastrucure using KOPs, scale up and down our infrastructure and as a result I will deploy a monitoring solution to test our infrastrucute using ingress.
                    </p>
                    <a href="#" class="btn btn-success ">view post</a>
                </div>
                    <div class="card-header">
                        Post 2
                    </div>
                <div class="card-body">
                    <h5 class="card-title">The blue-green deployment basic concept in kubernetes</h5>
                    <p class="card-text">
                        In this post lets show how to deploy the blue-green deployment basic concept with kubernetes native, without any additional componentes required. In Kubernetes there are a few different ways to release an application but it is necessary to choose the right strategy to deploy your application more reliable during update. Actually native in kubernetes we have some strategies to deploy our application. Also, there are several tools to support deploy in kubernetes to achieve others possibilies to adopt. Here, is some of them
                    </p>
                    <a href="#" class="btn btn-success ">view post</a>
                </div>
            </div>
        </div>
    </body>
</html>